.Card {
  width: 300px;
  margin: 20px 0;
  padding: 0;
  background: linear-gradient(to right, #6c35de, #a364ff);
  border: none;

  a {
    color: #e0e0e0;

    :hover {
      color: #ffc7ff;
      transition: .4s;
    }
  }
}

#body {
  padding: 0;
}

.svg1 {
  width: 50px;
  height: 50px;
}

.lx {
  width: 60px;
  height: 25px;
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0 0 0;
}

img {
  width: 150px;
  height: 150px;
}

#wx {
  margin: 0 20px;
  &:hover {
    color: greenyellow;
    transition: .5s;
  }
}
#qq{
  &:hover{
    color: blue;
    transition: .5s;
  }
}
#github{
  &:hover{
    color: #000;
    transition: .5s;
  }
  #githubIcon{
    &:hover{
      color: #000 !important;
      transition: .5s;
    }
  }
}
.box {
  font-size: 16px;
  display: flex;
  position: sticky;
  top: 0;
}

.bq {
  display: flex;
  width: 200px;
  height: 200px;
  flex-direction: column;
  justify-content: space-between;
  color: #000;
}

.right {
  margin: 20px;
  width: 800px;
  height: 800px;
  display: flex;
  flex-direction: column;

  &-box {
    margin: 20px 0 0 0;
    width: 100%;
  }
}

.pos {
  position: sticky;
  top: 0;
}

.Card1 {
  width: 100%;
}

.left {
  display: flex;
  flex-direction: column;
}

.boxbox {
  width: 100%;
}

.b {
  width: 100%;
}

.date {
  font-size: 12px;
  color: #000;
  position: absolute;
  font-weight: 200;
  color: #ffc7ff;
}

.icon {
  position: absolute;
  z-index: 999;
  top: 41px;
  left: 14px;
}

.boxs {
  background: linear-gradient(to right, #6c35de, #a364ff);
  border: none;
}

#Aff {
  font-size: 16px;
}

.ant-card-head {
  border: none !important;
}

.ant-card-head-title {
  color: #ffffff;
  font-weight: 100;
}

.ant-card-body {
  color: #ffffff !important;
}

.userList {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
  }
  .userName{
    width: 150px;
    font-size: 22px;
    text-align: center;
  }
}
#a{
  width: 100%;
}