.box #img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin: 60px 0 0 20px;
}

.p {
  height: 60px;
  position: absolute;
  top: 63px;
  left: 300px;
  font-size: 26px;
}

.app {
  position: relative;
}

.p1 {
  height: 60px;
  position: absolute;
  top: 113px;
  left: 300px;
}

.p2 {
  height: 60px;
  position: absolute;
  top: 143px;
  left: 300px;
}

.p3 {
  height: 60px;
  position: absolute;
  top: 173px;
  left: 300px;
}

.p4 {
  height: 60px;
  position: absolute;
  top: 200px;
  left: 300px;
}

.ul {
  height: 60px;
  position: absolute;
  top: 230px;
  left: 300px;
}

.ul li {
  margin: 10px 0 0 10px;
}

@media (max-width: 500px) {
  .about {
    display: none;
  }
  .box {
    color: aqua;
  }
  .me {
    color: aqua;
  }
  .me .p4 {
    color: aqua;
    position: relative;
    top: 0;
    left: 0;
    font-size: 0.8em;
    margin-top: 10px;
  }
  .me .ul {
    position: relative;
    top: 0;
    left: 0;
  }
}

@media (min-width: 1200px) {
  .me {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .me {
    display: none;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .me {
    display: none;
  }
}
